{include file="head" /}

{include file="menu" /}

<!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!--state overview start-->
              
              <div class="row state-overview">
                <div class="container">
                <div class="row">
                   
                   <form action="" method="get">
                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">客户名称</span>
                            <input type="text" value="{$getdata.username?$getdata.username:''}"  class="form-control" name="username" />
                        </div>
                      </div>

                      <div class="col-lg-6 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">订单时间</span>
                            <input type="text"  id="datetimepicker" class="form-control" placeholder="点击选择时间" name="starttime" value="{$getdata.starttime?$getdata.starttime:''}"/>
                            <span class="input-group-addon" id="basic-addon1">至</span>
                            <input type="text"  id="datetimepicker_end" class="form-control" placeholder="点击选择时间" name="endtime" value="{$getdata.endtime?$getdata.endtime:''}" />
                        </div>
                      </div>

                      

                      <div class="col-lg-3 mar-10">
                        <div class="input-group">
                            <span class="input-group-addon">类型</span>
                            <select name="otype"  class="selectpicker show-tick form-control">
                                <option value="">默认不选</option>
                                <option {if isset($getdata['otype']) && $getdata['otype'] == 2} selected="selected" {/if} value="2">经理</option>
                                <option {if isset($getdata['otype']) && $getdata['otype'] == 3} selected="selected" {/if} value="3">渠道</option>
                                <option {if isset($getdata['otype']) && $getdata['otype'] == 4} selected="selected" {/if} value="4">员工</option>
                            </select>
                        </div>
                      </div>

                      
                  </div>
                  <div class="mar-10">
                   <input type="submit" class="btn btn-success" value="搜索">
                  </div>

                  </form>

                 </div>

                 </div>
                
              </div>
              
              <!--state overview end-->
            
            <button type="submit" class="btn btn-danger">搜索全部</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-danger">导出</button>
            <br><br>
             <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              平仓记录
                          </header>
                          <table class="table table-striped table-advance table-hover">
                            <thead class="ordertable">
                              <tr>
                                <th>会员ID</th>
                                <th>会员名称</th>
                                <th>总充值</th>
                                <th>总提现</th>
                                <th>总净入</th>
                                <th>会员类型</th>
                            </tr>
                          </thead>
                          <tbody>
                          <!-- {volist name="userinfo" id="vo"} -->
                              <tr>
                                  <td>{$vo.uid}</td>
                                  <td>{$vo.username}</td>
                                  <td class="color_red">${$vo.recharge?$vo.recharge:'0'} </td>
                                  <td class="color_red">${$vo.getprice?$vo.getprice:'0'}</td>
                                  <td class="color_red">${$vo.income?$vo.income:'0'}</td>
                                  <td> {if $vo.otype==2} 经理 {elseif $vo.otype==3/} 渠道 {elseif $vo.otype==4/} 员工 {/if}</td>
                              </tr>
                           <!-- {/volist} -->
                              </tbody>
                          </table>
                      </section>
                  
              
                      {$page}

                </div>
              </div>
          </section>
      </section>
      <!--main content end-->
  </section>

{include file="foot" /}
<script>



//时间选择器
$('#datetimepicker').datetimepicker();
$('#datetimepicker_end').datetimepicker();

</script>